# Compiled class file
*.class
.DS_Store
out/*
.idea/*
*.iml
*.jar
*.ipr
*.iws
!lib/jcommon*.jar
!lib/jfreechart*.jar
*.zip
*MANIFEST.MF
/target/*
.settings/org.eclipse.jdt.core.prefs
.classpath
.project
/target/
